:root{
    --delete:#dc3545;
    --update:#0d6efd;
    --upade-hover-effect:#1a83bc;
    --text-button:ivory;
    --priority-bg:#FCFF90;
    --add-bg:#90ECFF;
    --status-bg:#AEFAD3;
    --decoractor-bg:#7319FF;
    --dropdown-border:#a4a4a4;
    --dropdown-grad1:#FB7185;
    --dropdown-grad2:#77C3C7;
    --highlight-bg:#A0FFD3;
}

li {
    list-style: none;
}

.btn-circle {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn-add {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border: none;
    background: var(--add-bg);
}

.btn-update {
    
    background: var(--add-bg);
    border: none;
}

.btn-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:8px;
    border: none;
    width: auto;
    height:35px;
    color:var(--text-button);
    background:linear-gradient(120deg, var(--dropdown-grad1), var(--dropdown-grad2));
}

.btn-go-to {
    justify-content: center;
    align-items: center;
    border-radius:10px;
    border: none;
    width: 150px;
    height: 35px;
    background:var(--update);
    margin-top: 12px;
}

.btn-go-to-2 {
    justify-content: center;
    align-items: center;
    border-radius:10px;
    border: none;
    width: 140px;
    height: 35px;
    background:var(--update);
    margin-top: 12px;
}

.priority-block {
    height: 30px;
    padding: .5rem;
    width: auto;
    border-radius: 8px;
    background-color: var(--priority-bg);
    align-items: center;
    display: flex;
    justify-content: center;
}

.add-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 1%;
}

.status-block {
    background: var(--status-bg);
    height: auto;
    width:120px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.elements-container {
    display: flex;

}

.deadline-container {
    width: 11.5%;
    
}

.main-reminder-container{
    width: 450px;
    justify-content: center;
    align-items: center;
}
.main-reminder-1 {
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
hr {
    margin:0;
}

.icon-container {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 80%;
}
.datetime-block {
    background: var(--highlight-bg);
    width: 100%;
    height: auto;
    border-radius: 7px;
}
.finished-block {
    background: var(--highlight-bg);
    width: 100%;
    height: auto;
    border-radius: 7px;
    display:block;
    transition: all 1s;
}

.show {
    display: block;
}

.main-container{
    justify-content: center;
    display: flex;
    margin: auto;
}

.adjust-nav {
    margin-right: 75%;
}
.adjust-nav-2 {
    margin-right: 45%;
}

.dropdown-container{
    width: 100px;
}