@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;400;600&family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --regular-typography:'Roboto';
    --highlight-typography:'Overpass';

    --bold:600;
    --semi-bold:500;
    --regular:400;
    --light:300;
    --thin:100;

    --icon-reminder-txtc:#006aff;
    --deactivate-icon-reminder-txtc:#89A5B3;
    --main-txtc:black;
    --main-button-txtc:ivory;
}

h1{
    margin: 0;
}

p{
    margin: 0;
}

.reminder-deadline-txt{
    font-size: 30px;
    font-weight: var(--bold);
    font-family: var(--highlight-typography),sans-serif;
}
.reminder-deadline-time-txt{
    font-size: 20px;
    font-weight: var(--bold);
    font-family: var(--highlight-typography),sans-serif;
}

.remider-title-txt{
    font-size: 35px;
    font-weight: var(--light);
    font-family: var(--regular-typography);
}
.reminder-task-txt{
    font-size: 35px;
    font-weight: var(--thin);
    font-family: var(--regular-typography);
    color:var(--main-txtc) ;
}
.extra-txt {
    font-size: 20px;
    font-weight: var(--semi-bold);
    font-family: var(--regular-typography);
}
.icon-reminder-style {
    font-size: 35px;
    color: var(--icon-reminder-txtc);
}
.icon-reminder-deactivated-style {
    font-size: 35px;
    color:var(--deactivate-icon-reminder-txtc);
}
.return-to-tasks-txt {
    font-size: 20px;
    font-family: var(--regular-typography);
    font-weight: var(--light);
}
a.return-to-tasks-txt:hover{
    color: var(--main-button-txtc);
}
.icon-tasks {
    font-size: 22px;
    color:var(--main-button-txtc);
    padding-right:5px;
}